<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
use Cake\Cache\Cache;
use Cake\Core\Configure;
use Cake\Core\Plugin;
use Cake\Datasource\ConnectionManager;
use Cake\Error\Debugger;
use Cake\Http\Exception\NotFoundException;

$this->layout = false;

if (!Configure::read('debug')) :
    throw new NotFoundException(
        'Please replace src/Template/Pages/home.ctp with your own version or re-enable debug mode.'
    );
endif;

$cakeDescription = 'CakePHP: the rapid development PHP framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>
    </title>

    <?= $this->Html->meta('icon') ?>
    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>
    <?= $this->Html->css('home.css') ?>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500i|Roboto:300,400,700|Roboto+Mono" rel="stylesheet">
</head>
<body class="home">
<header class="row">
    <div class="header-image"><?= $this->Html->image('cake.logo.svg') ?></div>
    <div class="header-title">
        <h1>Bienvenidos al Sistema </h1>
    </div>
</header>
<div>
<nav class="columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Menú') ?></li>
        <li><?= $this->Html->link(__('Empleados'), ['controller' => 'employees', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Títulos'), ['controller' => 'titles', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Salarios'), ['controller' => 'salaries', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Departamentos'), ['controller' => 'departments', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Managers de Departamentos'), ['controller' => 'deptManager', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Empleados de Departamentos'), ['controller' => 'deptEmp', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Cambiar Contraseña'), ['controller' => 'employees', 'action' => 'cambioContrasenia']) ?></li>
        <li><?= $this->Html->link(__('Cerrar Sesión'), ['controller' => 'employees', 'action' => 'logout']) ?></li>
    </ul>
</nav>
</div>
</body>
</html>